In [1]:
# Scraping IPL 2021 auction data.

import pandas as pd
import requests
from bs4 import BeautifulSoup
url="https://www.iplt20.com/auction/2021"
r= requests.get(url)
#print(r)
soup= BeautifulSoup(r.text,"lxml")
table= soup.find("table",class_="ih-td-tab auction-tbl")
#print(table)
header=table.find_all("th")
#print(header)
headers=[]
for i in header:
    data=i.text
    headers.append(data)
#print(headers)
df=pd.DataFrame(columns=headers)
rows = table.find_all("tr")
#print(rows)

for i in rows[1:]:
    data=i.find_all("td")
    #print(data)
    row = []
    for tr in data:
        row.append(tr.text)
        
        
    l=len(df)
    df.loc[l]=row
df

,TEAM,FUNDS REMAINING,OVERSEAS PLAYERS,TOTAL PLAYERS
0,\n\n\n\n\nChennai Super Kings\n\n,"₹2,55,00,000",8,25
1,\n\n\n\n\nDelhi Capitals\n\n,"₹2,15,00,000",8,25
2,\n\n\n\n\nKolkata Knight Riders\n\n,"₹3,20,00,000",8,25
3,\n\n\n\n\nMumbai Indians\n\n,"₹3,65,00,000",8,25
4,\n\n\n\n\nPunjab Kings\n\n,"₹18,80,00,000",8,25
5,\n\n\n\n\nRajasthan Royals\n\n,"₹13,65,00,000",8,24
6,\n\n\n\n\nRoyal Challengers Bangalore\n\n,"₹35,00,000",8,22
7,\n\n\n\n\nSunrisers Hyderabad\n\n,"₹6,95,00,000",8,25